@import "tailwindcss";
@plugin "daisyui";

/* App-specific custom glow states */
.glow-border:focus-within {
    box-shadow: 0 0 20px rgba(19, 91, 236, 0.3);
    border-color: #135bec;
}
.custom-scroll::-webkit-scrollbar {
    width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: rgba(13, 204, 242, 0.05);
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(13, 204, 242, 0.2);
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(13, 204, 242, 0.4);
}